In [10]:
!pip install --upgrade google-cloud-bigquery pandas textblob nltk

Requirement already satisfied: google-cloud-bigquery in /opt/conda/lib/python3.10/site-packages (3.30.0)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: textblob in /opt/conda/lib/python3.10/site-packages (0.19.0)
Requirement already satisfied: nltk in /opt/conda/lib/python3.10/site-packages (3.9.1)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.11.1 in /opt/conda/lib/python3.10/site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (2.24.2)
Requirement already satisfied: google-auth<3.0.0dev,>=2.14.1 in /opt/conda/lib/python3.10/site-packages (from google-cloud-bigquery) (2.38.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=2.4.1 in /opt/conda/lib/python3.10/site-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=20.0.0 in /opt/conda/lib/python3.10/site-packages (from google-cloud-bigquery) (24.2)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.3 in /opt/conda/lib/python3.10/site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in /opt/conda/lib/python3.10/site-packages (from google-cloud-bigquery) (2.32.3)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas) (2025.1)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.10/site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from nltk) (4.67.1)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /opt/conda/lib/python3.10/site-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.66.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /opt/conda/lib/python3.10/site-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (3.20.3)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /opt/conda/lib/python3.10/site-packages (from google-api-core<3.0.0dev,>=2.11.1->google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.26.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /opt/conda/lib/python3.10/site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.70.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /opt/conda/lib/python3.10/site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery) (1.49.0rc1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (5.5.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.10/site-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.10/site-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/conda/lib/python3.10/site-packages (from google-resumable-media<3.0dev,>=2.0.0->google-cloud-bigquery) (1.6.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil<3.0dev,>=2.7.3->google-cloud-bigquery) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2024.12.14)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /opt/conda/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (0.6.1)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [17]:
import os
from google.cloud import bigquery
import pandas as pd
import nltk
from textblob import TextBlob
import numpy as np
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/jupyter/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [13]:
PROJECT_ID = "robotic-aviary-451823-k6"
DATASET_ID = "cargaAzure"

In [14]:
client = bigquery.Client(project=PROJECT_ID)

In [4]:
# Ejemplo: leer la tabla Business
df_business = client.query(f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET_ID}.Business`
""").to_dataframe()

print("Tabla Business:")
print(df_business.head(), "\n")

Tabla Business:
              business_id            name                address         city  \
0  CvNdlrRJWajPz7gWoQAeJQ    Metro Grille         380 US Hwy 206     Flanders
1  l3pO6YTjFUgVoXgm3gfUag  Ichiban Buffet    2230 Marlton Pike W  Cherry Hill
2  avL_U1I6iFd8CIHVds31zg  New China Moon     906 Marlton Pike W  Cherry Hill
3  N5yjty7R5XN2_hIwW-2Iyg    Jjang Ga Nae         2431 Church Rd  Cherry Hill
4  Eq3utoa11OyZD3sSgjoV8Q         Thaimax  2000 Rte 38, Spc FC38  Cherry Hill

  state postal_code   latitude  longitude  stars  review_count  is_open  \
0    LA       07836  39.949904 -75.161599    3.0            17        0
1    FL       08002  39.923146 -75.043054    2.5            48        0
2    IN       08002  39.916201 -75.021315    4.0             8        0
3    PA       08002  39.940299 -75.008033    4.0            40        1
4    FL       08002  39.943306 -75.026226    2.5             9        1

                                          attributes  \
0  {'BusinessAcceptsCreditCards': 'True', 'Restau...
1  {'Ambience': "{'romantic': False, 'intimate': ...
2  {'HasTV': 'True', 'RestaurantsPriceRange2': '1...
3  {'GoodForKids': 'True', 'RestaurantsTakeOut': ...
4  {'RestaurantsGoodForGroups': 'True', 'Restaura...

                                  categories  \
0  Restaurants, Asian Fusion, American (New)
1    Restaurants, Buffets, Chinese, Japanese
2                       Restaurants, Chinese
3               Korean, Chinese, Restaurants
4                          Restaurants, Thai

                                               hours food_subcategory
0  {'Monday': '16:30-22:0', 'Tuesday': '16:30-22:...         Asi√°tica
1  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...         Asi√°tica
2  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...         Asi√°tica
3  {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...         Asi√°tica
4  {'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'...         Asi√°tica

In [91]:
# Leer la tabla CheckinYelp
df_checkin = client.query(f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET_ID}.CheckinYelp`
""").to_dataframe()

print("Tabla CheckinYelp:")
print(df_checkin.head(), "\n")

Tabla CheckinYelp:
   year  month             business_id  count
0  2011      1  0R2yKDNMUztQwgo8pG4z-Q     19
1  2011      1  20-EyTyDc2-a30iDAQj64g     22
2  2011      1  4NozMd-0ufrS7sUZ95948w     22
3  2011      1  4hv1n1VBzMvE-T4UtIcOcw     28
4  2011      1  4i4kmYm9wgSNyF1b6gKphg    135

In [92]:
# Leer la tabla Metadata
df_metadata = client.query(f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET_ID}.Metadata`
""").to_dataframe()

print("Tabla Metadata:")
print(df_metadata.head(), "\n")

Tabla Metadata:
                    name                                            address  \
0               Gymboree  Gymboree, 5959 Triangle Town Blvd, Raleigh, NC...
1           Jos. A. Bank  Jos. A. Bank, 4252 St Michael Dr A, Texarkana,...
2  Jones New York Outlet  Jones New York Outlet, 5667 York Rd., New Hope...
3         ATM (7-Eleven)  ATM (7-Eleven), 2800 S College Ave, Fort Colli...
4         ATM (7-Eleven)  ATM (7-Eleven), 110 S Mildred St, Ranson, WV 2...

                                 gmap_id  \
0  0x89ac598d0a352f49:0xcbcbf69c74191444
1  0x8634418f19a16731:0x7a8306b43d2a8bf7
2  0x89c4010adf2076b9:0x2ca504feed492b2d
3  0x87694b0ade6d4759:0x2fd4c91d431f9c93
4  0x89b601a0bed83abf:0x71ed6ca584d09849

                                         description   latitude   longitude  \
0  Children's apparel chain featuring high-qualit...  35.866681  -78.575822
1  Menswear chain offering house-label suits, dre...  33.454634  -94.096602
2  Womenswear chain offering the Jones New York b...  40.344616  -75.037487
3  Convenience chain offering grab-&-go bites & b...  40.548519 -105.076466
4  Convenience chain offering grab-&-go bites & b...  39.296207  -77.861452

                                            category  avg_rating  \
0  ["Children's clothing store", 'Baby clothing s...         1.0
1  ["Men's clothing store", 'Clothing alteration ...         1.0
2                         ["Women's clothing store"]         1.0
3                                            ['ATM']         1.0
4                                            ['ATM']         1.0

   num_of_reviews                                               MISC  \
0               2  {'Accessibility': ['Wheelchair accessible entr...
1               1  {'Accessibility': ['Wheelchair accessible entr...
2               1  {'Service options': ['In-store pickup', 'In-st...
3               2  {'Accessibility': ['Wheelchair accessible entr...
4               1  {'Accessibility': ['Wheelchair accessible entr...

                                    relative_results
0  ['0x89acf647257d1c81:0x4bca4880c7e27d4b', '0x8...
1  ['0x863441f74b55f083:0x3e3dd5a3e1cf1cca', '0x8...
2  ['0x89c40109491f915b:0x97aa6efe51b9ce51', '0x8...
3  ['0x87694b90e23dba01:0xcdbeed1d0a6d07c0', '0x8...
4  ['0x89b601a0e868dbf5:0x129199c7a6d336e8', '0x8...

In [93]:
# Leer la tabla TipYelp
df_tip = client.query(f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET_ID}.TipYelp`
""").to_dataframe()

print("Tabla TipYelp:")
print(df_tip.head(), "\n")

Tabla TipYelp:
                       date  \
0 2021-12-03 18:35:53+00:00
1 2021-01-12 23:10:44+00:00
2 2021-03-30 03:53:21+00:00
3 2021-09-23 16:58:31+00:00
4 2009-07-30 15:13:31+00:00

                                                text             business_id  \
0  Awesome raw bar /fish shack. Exactly how I liv...  ---kPU91CF4Lq2-WlRu9Lw
1                                          Excellent  ---kPU91CF4Lq2-WlRu9Lw
2                       Great place! Excellent Food!  ---kPU91CF4Lq2-WlRu9Lw
3  Great food & service!!  Crab cakes were excell...  ---kPU91CF4Lq2-WlRu9Lw
4  Gets crowded the weekend so just order ahead o...  --0iUa4sNDFiZFrAdIWhZQ

                  user_id
0  zmgsdGzOp08BWJZ2yrOKww
1  VjvrRYcqu34DyBns0R11bg
2  VjvrRYcqu34DyBns0R11bg
3  St3aCytjxiMN-5OvFvcgSw
4  DPSY6qV8RmQZ_XlIjIw_SA

In [95]:
# Leer la tabla UserYelp
df_user = client.query(f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET_ID}.UserYelp`
""").to_dataframe()

print("Tabla UserYelp:")
print(df_user.head(), "\n")

Tabla UserYelp:
                  user_id    name  review_count             yelping_since  \
0  dndNhmq53DQc_435ULZuZA  Andrea             9 2012-05-20 02:07:28+00:00
1  cv5lvFv5ACXy6ynBDR8LHQ       D            12 2009-01-05 04:56:03+00:00
2  bb0rXc2r6EqP8FMzv5DQMQ       M            12 2013-09-21 18:44:20+00:00
3  RQZLRrWEGPIk67Sc99gB_w  Jordan             7 2015-01-24 20:34:14+00:00
4  Rz-647pdX6R-zfwOkrEu1w  Dianna            18 2014-09-09 23:07:17+00:00

   useful  funny  cool  elite  \
0       5      0     1    NaN
1       5      1     5    NaN
2      15      0     2    NaN
3      10      4     4    NaN
4       6      0     1    NaN

                                             friends  fans  ...  \
0  X9QUdDSuBpVxfvn6hl1Sdg, eEiucuhnWjkDF28QRk4LXA...     1  ...
1                                               None     0  ...
2                                               None     0  ...
3  ZI7nrsJ2qxr5iFoUWfhY3w, hXUgby3bXIu5d7A-tmkRZg...     0  ...
4  Gk1ctUSpfGyhC5iUbvwL_w, 5P3dp7RCp_iPpCY753Nfzg...     0  ...

   compliment_cute  compliment_list  compliment_note  compliment_plain  \
0                0                0                0                 0
1                0                0                0                 0
2                0                0                1                 0
3                0                0                2                 0
4                0                0                0                 0

   compliment_cool  compliment_funny  compliment_writer  compliment_photos  \
0                0                 0                  0                  0
1                0                 0                  1                  0
2                0                 0                  0                  0
3                0                 0                  0                  0
4                0                 0                  0                  0

   yelping_since_anio  yelping_since_mes
0                2012                  5
1                2009                  1
2                2013                  9
3                2015                  1
4                2014                  9

[5 rows x 24 columns]

In [96]:
# Leer la tabla avgRating
df_avg_rating = client.query(f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET_ID}.avgRating`
""").to_dataframe()

print("Tabla avgRating:")
print(df_avg_rating.head(), "\n")

Tabla avgRating:
                                 gmap_id  avg_rating source_table
0  0x14f70cfab79d0783:0xa051851bf1e43401    4.397959      Alabama
1  0x15201092d1174ed9:0xd96ae59317b419a4    4.068966      Alabama
2  0x88112d0a1aded3ff:0x47f3a202c946f882    3.800000      Alabama
3  0x8861bbd7a57fcee1:0xfcc815326141da7f    4.404762      Alabama
4  0x8861c475533ef851:0xdc2487560a19e822    3.538462      Alabama

In [5]:
# Leer la tabla calificacionAnio
df_calificacion_anio = client.query(f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET_ID}.calificacionAnio`
""").to_dataframe()

print("Tabla calificacionAnio:")
print(df_calificacion_anio.head(), "\n")

Tabla calificacionAnio:
   year  month              name                 user_id  count
0  2017      1  Dagwood Bumstead  1.0964504379893349e+20      1
1  2017      1     Brooke Holmes  1.1700525339735997e+20      1
2  2018      1    Crystal Pooley  1.0466150797987058e+20      1
3  2019      1      Pam Jennings  1.0609753852092437e+20      1
4  2021      1       Billy Hutto  1.0628189323509101e+20      1

In [6]:
# Leer la tabla df_reviewPuente
df_review_puente = client.query(f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET_ID}.df_reviewPuente`
""").to_dataframe()

print("Tabla df_reviewPuente:")
print(df_review_puente.head(), "\n")

Tabla df_reviewPuente:
                  user_id             business_id  \
0  WMqegYz_WSgAUNkQ5TBe7Q  pym7c6ZFEtmoH16xN2ApBg
1  ooZeJ-e9mymEFZfyC9hDLw  rsAhARGH9L-NkFGZjbjiYg
2  toOht-Wn-X3g30GFpMkP4w  sf0rWCnE4vHUlWncWOa3JQ
3  paLJY4aAvDztGJ81FouxXw  vBc9CU2T3EtY2CXn3MA19A
4  KoLUsGxu4aVGI6jLjjB02A  v_tEvT-3RRFHvP5hHfZYEg

                                                text
0  We ate here with our soccer team, 35 people. I...
1  I actually had a good experience here.  I firs...
2  Food here is really good. Was looking for a pl...
3  I love coming to this place for the pumice and...
4  We've been coming here for a few years and it'...

In [7]:
# Leer la tabla groupedBusinessReviews
df_grouped_business = client.query(f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET_ID}.groupedBusinessReviews`
""").to_dataframe()

print("Tabla groupedBusinessReviews:")
print(df_grouped_business.head(), "\n")

Tabla groupedBusinessReviews:
              business_id  anio  mes  user_count  avg_stars
0  PP3BBaVxZLcJU54uP_wL6Q  2007    1           7   3.857143
1  ytynqOUb3hjKeJfRj5Tshw  2007    1           4   4.750000
2  Eqi8jrVowPBlCKAInDfFRw  2007    1           1   1.000000
3  IkY2ticzHEn4QFn8hQLSWg  2006    1           1   1.000000
4  JvawJ9bSr22xn4R9oLvl_w  2007    1           1   1.000000

In [8]:
# Leer la tabla groupedUsersReviews
df_grouped_users = client.query(f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET_ID}.groupedUsersReviews`
""").to_dataframe()

print("Tabla groupedUsersReviews:")
print(df_grouped_users.head(), "\n")

Tabla groupedUsersReviews:
                  user_id  anio  mes  business_count  avg_stars
0  1OSARXZ-t1RDY2JgbLY_oQ  2008    1              41   2.833333
1  6iLymfiarOsrajZNRfgsPw  2008    1              26   4.200000
2  8MKygqfspKqG2-X9ycR-Ow  2008    1              32   3.200000
3  BelCqypSxv-45Cosc6ZINw  2008    1               6   2.500000
4  ET3TgSSQ3shm2mj5vZ8IVQ  2008    1              42   3.250000

In [61]:
# Crear el cliente de BigQuery (aseg√∫rate de que la cuenta de servicio tenga permisos sobre el dataset)
client = bigquery.Client(project="robotic-aviary-451823-k6")

In [60]:
# Configurar la variable de entorno (opcional)
os.environ["GOOGLE_CLOUD_PROJECT"] = "robotic-aviary-451823-k6"

In [15]:
# Consulta para unir la tabla Business con TipYelp (se puede usar df_reviewPuente en su lugar si asi se quiere).
# Tomamos la calificaci√≥n 'stars' de la tabla Business y las rese√±as 'text' de TipYelp.
query = """
SELECT
  b.business_id,
  b.name,
  b.state,
  b.city,
  b.stars AS avg_rating,
  b.food_subcategory,
  t.text AS review_text
FROM `robotic-aviary-451823-k6.cargaAzure.Business` AS b
LEFT JOIN `robotic-aviary-451823-k6.cargaAzure.TipYelp` AS t
  ON b.business_id = t.business_id
"""

df = client.query(query).to_dataframe()
print("Datos unificados (Business + TipYelp):")
print(df.head())

Datos unificados (Business + TipYelp):
              business_id            name state         city  avg_rating  \
0  CvNdlrRJWajPz7gWoQAeJQ    Metro Grille    LA     Flanders         3.0
1  l3pO6YTjFUgVoXgm3gfUag  Ichiban Buffet    FL  Cherry Hill         2.5
2  l3pO6YTjFUgVoXgm3gfUag  Ichiban Buffet    FL  Cherry Hill         2.5
3  l3pO6YTjFUgVoXgm3gfUag  Ichiban Buffet    FL  Cherry Hill         2.5
4  l3pO6YTjFUgVoXgm3gfUag  Ichiban Buffet    FL  Cherry Hill         2.5

  food_subcategory                                        review_text
0         Asi√°tica                                               None
1         Asi√°tica                                   Totally enjoyed.
2         Asi√°tica                                Fried sugar donuts!
3         Asi√°tica                           Mediocre and overpriced.
4         Asi√°tica  If ur in the military or vet or police , fire ...

In [20]:
# 1) Calcular sentimiento de cada rese√±a
def get_sentiment_polarity(text):
    if pd.isnull(text) or not isinstance(text, str) or text.strip() == "":
        return np.nan  # o 0.0, como prefieras manejar rese√±as vac√≠as
    analysis = TextBlob(text)
    return analysis.sentiment.polarity

df['sentiment'] = df['review_text'].apply(get_sentiment_polarity)

# 2) Agrupar por restaurante y calcular promedio de sentimiento
df_sentiment = (
    df.groupby(['business_id', 'name', 'state', 'city', 'avg_rating', 'food_subcategory'], as_index=False)
      .agg(avg_sentiment=('sentiment', 'mean'))
)

print("Sentimiento promedio por restaurante:")
print(df_sentiment.head())


"""Nota: sentiment.polarity devuelve un valor en el rango [-1.0, 1.0],
donde valores cercanos a 1.0 indican rese√±as m√°s positivas y valores cercanos a -1.0 indican rese√±as m√°s negativas."""

Sentimiento promedio por restaurante:
              business_id                          name state  \
0  ---kPU91CF4Lq2-WlRu9Lw             Frankie's Raw Bar    FL
1  --0iUa4sNDFiZFrAdIWhZQ  Pupuseria Y Restaurant Melba    LA
2  --7PUidqRWpRSpXebiyxTg    Humpty's Family Restaurant    NJ
3  --8IbOsAAxjKRoYsBFL-PA      The Original Italian Pie    LA
4  --MbOh2O1pATkXa7xbU6LA                  Sweet Lizard    PA

              city  avg_rating           food_subcategory  avg_sentiment
0  New Port Richey         4.5                    Seafood       0.738891
1        Clementon         3.0            Mexicana/Latina       0.328598
2         Edmonton         2.0                Restaurants       0.405556
3         Gentilly         3.0                   Italiana       0.355521
4           Tucson         4.0  Ice Cream & Frozen Yogurt       0.321917

'"\nNota: sentiment.polarity devuelve un valor en el rango [-1.0, 1.0],\ndonde valores cercanos a 1.0 indican rese√±as m√°s positivas y valores cercanos a -1.0 indican rese√±as m√°s negativas.\n'

In [23]:
"""Creamos un score combinado con respecto a avg_rating y avg_sentiment para usarlos en la recomendacion siguiendo la siguiente formula:
score = Œ± √ó avg_rating + Œ≤ √ó avg_sentiment  donde ùõº y ùõΩ son pesos a definir. Un ejemplo simple:"""
# Digamos que la calificaci√≥n (1-5) la valoramos m√°s que el sentimiento, 
# as√≠ que le damos un peso mayor a avg_rating
alpha = 1.0  # peso para la calificaci√≥n
beta = 0.5   # peso para el sentimiento

df_sentiment['combined_score'] = (
    alpha * df_sentiment['avg_rating'] + 
    beta * df_sentiment['avg_sentiment']
)

# Ordenar descendentemente por el score combinado
df_sentiment.sort_values(by='combined_score', ascending=False, inplace=True)
df_sentiment.head(10)

,business_id,name,state,city,avg_rating,food_subcategory,avg_sentiment,combined_score
45627,h7wpU50JpFK2nhBwgmUXYw,Prest Coffee Drive Thru,LA,Tucson,5.0,Coffee & Tea,1.0,5.5
19452,IIwk3EkkJsyFET5fv9_eqg,Crooked Fence Brewing,PA,Garden City,5.0,Bars,1.0,5.5
36576,ZDinrfm2fP1WIy6IqUFyCw,Petri Cafe,MO,Granite City,5.0,Restaurants,1.0,5.5
20482,JMM7KTq_PIyazBtwV9MoEg,Willow Creek Orchards,LA,Collegeville,5.0,General Food,1.0,5.5
20442,JJFAsvwHJRwv1Z6P-j2xQA,Munchies,IN,Chalmette,5.0,Mexicana/Latina,1.0,5.5
25192,O3UQ628x3iSKR33cM3cEtw,Snowflake Dessert Factory,PA,Pinellas Park,5.0,Coffee & Tea,1.0,5.5
49887,lKpn89NMIY8E54gkOVYodw,Music City Brew Tours,PA,Nashville,5.0,Bars,1.0,5.5
51840,nK_-VSm_Bx4qjMtVmVuwXQ,Mr B's Bakery,NV,New Orleans,5.0,Bakeries,1.0,5.5
55540,qzNMDrjffJGMa1TVgmdS0g,Nicely's Jamaican Kitchen,PA,Wilmington,5.0,Seafood,1.0,5.5
44886,gOS6rbrF6E42M4Iv0rEpZw,Little Pete's Steaks,AZ,Philadelphia,5.0,Restaurants,1.0,5.5

In [28]:
"""
FUNCION DE RECOMENDACION CON FILTROS EN BASE A CATEGORIA, RATING Y ESTADO 

El usuario podr√≠a ingresar:

Tipo de comida (filtrar por food_subcategory).
Calificaci√≥n promedio m√≠nima (o un rango).
Estado (columna state).
"""

def recommend_restaurants(food_type=None, min_rating=None, state=None, top_n=10):
    """
    Retorna recomendaciones de restaurantes en funci√≥n de:
      - Tipo de comida (food_subcategory).
      - Calificaci√≥n m√≠nima (avg_rating).
      - Estado (state).
      - Score combinado (combined_score).
    
    Par√°metros:
      - food_type (str, opcional): tipo de comida (ej: "Seafood", "Pizza", etc.)
      - min_rating (float, opcional): calificaci√≥n m√≠nima (ej: 3.5)
      - state (str, opcional): abreviatura del estado (ej: "CA", "NY")
      - top_n (int): cu√°ntos restaurantes recomendar
      
    Retorna:
      - DataFrame con las columnas de inter√©s, ordenado por combined_score descendente.
    """
    df_filter = df_sentiment.copy()
    
    # Filtrar por tipo de comida
    if food_type:
        df_filter = df_filter[
            df_filter['food_subcategory'].str.contains(food_type, case=False, na=False)
        ]
    
    # Filtrar por calificaci√≥n m√≠nima
    if min_rating is not None:
        df_filter = df_filter[df_filter['avg_rating'] >= min_rating]
    
    # Filtrar por estado
    if state:
        df_filter = df_filter[df_filter['state'].str.upper() == state.upper()]
    
    # Ordenar por el score combinado
    df_filter = df_filter.sort_values(by='combined_score', ascending=False)
    
    # Seleccionar columnas de inter√©s
    columns = ['name', 'state', 'city', 'combined_score', 'food_subcategory']
    return df_filter[columns].head(top_n)

# Ejemplo de uso
recommended = recommend_restaurants(food_type="Vegetariana", min_rating=4, state="CA", top_n=5)
print("Recomendaciones:\n", recommended)

Recomendaciones:
                                                    name state            city  \
24586                                   Grain and Berry    CA  St. Petersburg
12454                                           Nourish    CA    Philadelphia
63353                                    House of India    CA        Franklin
23777  India's Grill Brandon - Authentic Indian Cuisine    CA         Brandon
63674                                       Cafe Bamboo    CA     New Orleans

       combined_score    food_subcategory
24586        5.000000  Vegetariana/Vegana
12454        4.819444  Vegetariana/Vegana
63353        4.780900  Vegetariana/Vegana
23777        4.759375  Vegetariana/Vegana
63674        4.727462  Vegetariana/Vegana

In [29]:
pip install streamlit

Collecting streamlit
  Downloading streamlit-1.43.2-py2.py3-none-any.whl.metadata (8.9 kB)
Collecting altair<6,>=4.0 (from streamlit)
  Downloading altair-5.5.0-py3-none-any.whl.metadata (11 kB)
Collecting blinker<2,>=1.0.0 (from streamlit)
  Downloading blinker-1.9.0-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: cachetools<6,>=4.0 in /opt/conda/lib/python3.10/site-packages (from streamlit) (5.5.1)
Requirement already satisfied: click<9,>=7.0 in /opt/conda/lib/python3.10/site-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in /opt/conda/lib/python3.10/site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in /opt/conda/lib/python3.10/site-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /opt/conda/lib/python3.10/site-packages (from streamlit) (2.2.3)
Requirement already satisfied: pillow<12,>=7.1.0 in /opt/conda/lib/python3.10/site-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<6,>=3.20 in /opt/conda/lib/python3.10/site-packages (from streamlit) (3.20.3)
Requirement already satisfied: pyarrow>=7.0 in /opt/conda/lib/python3.10/site-packages (from streamlit) (15.0.2)
Requirement already satisfied: requests<3,>=2.27 in /opt/conda/lib/python3.10/site-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /opt/conda/lib/python3.10/site-packages (from streamlit) (9.0.0)
Collecting toml<2,>=0.10.1 (from streamlit)
  Downloading toml-0.10.2-py2.py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /opt/conda/lib/python3.10/site-packages (from streamlit) (4.12.2)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl.metadata (44 kB)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /opt/conda/lib/python3.10/site-packages (from streamlit) (3.1.44)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in /opt/conda/lib/python3.10/site-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.10/site-packages (from altair<6,>=4.0->streamlit) (3.1.5)
Requirement already satisfied: jsonschema>=3.0 in /opt/conda/lib/python3.10/site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /opt/conda/lib/python3.10/site-packages (from altair<6,>=4.0->streamlit) (1.25.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in /opt/conda/lib/python3.10/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas<3,>=1.4.0->streamlit) (2025.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (2024.12.14)
Requirement already satisfied: smmap<6,>=3.0.1 in /opt/conda/lib/python3.10/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.22.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.43.2-py2.py3-none-any.whl (9.7 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 9.7/9.7 MB 90.3 MB/s eta 0:00:00
Downloading altair-5.5.0-py3-none-any.whl (731 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 731.2/731.2 kB 36.9 MB/s eta 0:00:00
Downloading blinker-1.9.0-py3-none-any.whl (8.5 kB)
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 6.9/6.9 MB 100.6 MB/s eta 0:00:00
Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl (79 kB)
Installing collected packages: watchdog, toml, blinker, pydeck, altair, streamlit
Successfully installed altair-5.5.0 blinker-1.9.0 pydeck-0.9.1 streamlit-1.43.2 toml-0.10.2 watchdog-6.0.0

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.